@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Space+Mono:wght@400;700&display=swap');

@layer utilities {
  html, body {
    font-family: 'Space Mono', monospace;
  }

  .heading {
    font-family: 'Share Tech Mono', monospace;
  }

  .scrollbar::-webkit-scrollbar {
    padding: 2px 0;
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #191D24;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #2A303C;
    border-radius: 100vh;
    border: 1px solid #191D24;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2A303C;
  }
}